
<div class="app">
    <div class="container">
        <div class="sign-in">
            <div class="sign-in-img">
                <img src="/img/Coronavirus.jpg" alt="Covid 19 Image">
            </div>
            <div class="card sign-in-form">
                <div class="card-body">
                    <form id="login" action="/sign-in" method="POST">
                        <div class="mb-3 row ">
                            <input name = "username" type="text" class="form-control" autofocus placeholder="Tên tài khoản" required>
                        </div>
                        <div class="mb-3 row password">
                            <input name = "password" type="password" class="form-control" placeholder="Mật khẩu" required id="password">
                            <i class="far fa-eye-slash" id="togglePassword" style="margin-left: -30px; 
                            cursor: pointer;"></i><br>
                        </div>
                        <div class="mb-3 row ">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="remember" value="remember" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Ghi nhớ mật khẩu
                                </label>
                                </div>
                        </div>
                        <div class="mb-3 row ">
                            <button type="submit" class="btn btn-primary" id="login-btn">Đăng nhập</button>
                        </div>
                        <h3 class="mb-3 row text-center text-primary" style="font-size:1.9rem;">
                            Mật khẩu mặc định của tài khoản là số 0
                        </h3>
                        <div class="mb-3 loginmes loginmes-error">
                        
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    const togglePassword = document.querySelector('#togglePassword');
    const password = document.querySelector('#password');

    togglePassword.addEventListener('click', function (e) {
        // toggle the type attribute
        const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
        console.log(type);
        password.setAttribute('type', type);
        // toggle the eye slash icon
        this.classList.toggle('fa-eye-slash');
        this.classList.toggle('fa-eye');
    });

    {{!-- function setFormMessage(formElement, type, message) {
        const messageElement = formElement.querySelector(".loginmes");
        messageElement.textContent = message;
        messageElement.classList.remove("loginmes-success, loginmes-error");
        messageElement.classList.add('loginmes-${type}');
    } --}}

    {{!-- document.addEventListener("DOMContentLoaded", () => {

        const loginForm = document.querySelector("#login");

        loginForm.addEventListener("submit", e => {
            e.preventDefault();
            setFormMessage(loginForm, "error", "Tên tài khoản hoặc mật khẩu không đúng! Vui lòng nhập lại");
        });

    }); --}}
</script>
