<div class="content row">

    {{!-- sidebar --}}
<div class="sidebar">
    <div class="sidebar-item">
        <div class="title">
            <span class="angle-right"><i class="fas fa-angle-right"></i> </span>
            <span class="angle-đown d-none"><i class="fas fa-angle-down"></i> </span>
            Quản lý
        </div>
        <ul class="list">
            <li class="list-item ">
                <a class="d-block" href="/admin"><i class="fas fa-home"></i> Trang chủ</a>
            </li>
            <li class="list-item">
                <a class="d-block" href="/admin/create"><i class="fas fa-user"></i> Tạo tài khoản</a>
            </li>
            <li class="list-item">
                  <a class="d-block" href="/admin/manage"><i class="fas fa-cog"></i> Quản lý manager</a>
            </li>
            <li class="list-item active">
                <a class="d-block" href="/admin/treatment"><i class="fas fa-hospital"></i> Địa điểm cách ly</a>
            </li>
        </ul>
    </div>
</div>
    {{!-- end sidebar --}}

    <div class="col-9" style="flex:1;">
        <div class="section">
            <div class="row" style="margin: auto">
                <div class="col-1"></div>
                <div class="col-9 mt-5">
                    
                </div>
            </div>
        </div>
    </div>
</div>



