<div class="content row">
    {{!-- sidebar --}}
    <div class="sidebar">
        <div class="sidebar-item">
            <a class="title" href="/manager/">
                <i class="fa fa-home" aria-hidden="true"></i>
                <i class="fa fa-home d-none" aria-hidden="true"></i>
                Trang chủ
            </a>
        </div>
        <div class="sidebar-item">
            <div class="title">
                <span class="angle-right"><i class="fas fa-angle-right"></i> </span>
                <span class="angle-down d-none"><i class="fas fa-angle-down"></i> </span>
                Quản lý người liên quan
            </div>
            <ul class="list d-none">
                <li class="list-item">
                    <a class="d-block" href="/manager/listUser"><i class="fa fa-list-ul"></i> Danh sách</a>
                </li>
                <li class="list-item">
                    <a class="d-block" href="/manager/addUser"><i class="fas fa-user"></i> Thêm tài khoản</a>
                </li>
                <li class="list-item">
                    <a class="d-block" href="/manager/search"><i class="fa fa-search-plus"></i> Tìm kiếm chi tiết</a>
                </li>
            </ul>
        </div>
        <div class="sidebar-item">
            <div class="title">
                <span class="angle-right"><i class="fas fa-angle-right"></i> </span>
                <span class="angle-down d-none"><i class="fas fa-angle-down"></i> </span>
                Quản lý s.phẩm / n.y.phẩm
            </div>
            <ul class="list d-none">
               <li class="list-item active">
                    <a class="d-block" href="/manager/product"><i class="fa fa-list-ul"></i> Danh sách</a>
                </li>
                <li class="list-item">
                    <a class="d-block" href="/manager/"><i class="fas fa-user"></i> Tìm kiếm</a>
                </li>
                <li class="list-item">
                    <a class="d-block" href="/manager/listUser"><i class="fa fa-random"></i> Thay đổi trạng thái</a>
                </li>
                <li class="list-item">
                    <a class="d-block" href="/manager/search"><i class="fa fa-search-plus"></i> Tìm kiếm chi tiết</a>
                </li>
            </ul>
        </div>
        <div class="sidebar-item">
            <div class="title">
                <span class="angle-right"><i class="fas fa-angle-right"></i> </span>
                <span class="angle-down d-none"><i class="fas fa-angle-down"></i> </span>
                Quản lý gói nhu yếu phẩm
            </div>
            <ul class="list d-none">
                <li class="list-item active">
                    <a class="d-block" href="/manager/package"><i class="fa fa-list-ul"></i> Danh sách</a>
                </li>
                <li class="list-item">
                    <a class="d-block" href="/manager/sanpham"><i class="fas fa-user"></i> Tìm kiếm</a>
                </li>
                <li class="list-item">
                    <a class="d-block" href="/manager/listUser"><i class="fa fa-random"></i> Thay đổi trạng thái</a>
                </li>
                <li class="list-item">
                    <a class="d-block" href="/manager/search"><i class="fa fa-search-plus"></i> Tìm kiếm chi tiết</a>
                </li>
            </ul>
        </div>
        <div class="sidebar-item">
            <div class="title">
                <span class="angle-right"><i class="fas fa-angle-right"></i> </span>
                <span class="angle-down d-none"><i class="fas fa-angle-down"></i> </span>
                Thống kê thông tin
            </div>
            <ul class="list d-none">
                <li class="list-item">
                    <a class="d-block" href="/admin"><i class="fas fa-home"></i> Chưa phân công</a>
                </li>
                <li class="list-item">
                    <a class="d-block" href="/admin/create"><i class="fas fa-user"></i> Chưa phân công</a>
                </li>
                <li class="list-item">
                    <a class="d-block" href="/admin/manage"><i class="fas fa-cog"></i> Chưa phân công</a>
                </li>
                <li class="list-item">
                    <a class="d-block" href="/admin/treatment"><i class="fas fa-hospital"></i> Chưa phân công</a>
                </li>
            </ul>
        </div>
        <div class="sidebar-item">
            <div class="title">
                <span class="angle-right"><i class="fas fa-angle-right"></i> </span>
                <span class="angle-down d-none"><i class="fas fa-angle-down"></i> </span>
                Quản lý thanh toán
            </div>
            <ul class="list d-none">
                <li class="list-item">
                    <a class="d-block" href="/admin"><i class="fas fa-home"></i> Chưa phân công</a>
                </li>
                <li class="list-item">
                    <a class="d-block" href="/admin/create"><i class="fas fa-user"></i> Chưa phân công</a>
                </li>
                <li class="list-item">
                    <a class="d-block" href="/admin/manage"><i class="fas fa-cog"></i> Chưa phân công</a>
                </li>
                <li class="list-item">
                    <a class="d-block" href="/admin/treatment"><i class="fas fa-hospital"></i> Chưa phân công</a>
                </li>
            </ul>
        </div>
    </div>
    {{!-- end sidebar --}}

    <div class="col-9" style="flex:1;">
        <div class="section general-information">
            <div class="card mb-5 w-100">
                <div class="card-header">
                    <h1>Quản lý người liên quan covid-19</h1>
                </div>
                <div class="card-body">
                    <div class="row mx-auto justify-content-center">
                        {{!-- 1 cái div này là 1 cục chức năng --}}
                        <div class="col-3 my-5 mx-5">
                            <a href="/manager/listUser" class="text-dark">
                                <div class="card" style="width: 30rem;">
                                    <img src="https://static.thenounproject.com/png/2204677-200.png"
                                        class="" alt="..." style="object-fit: contain;width: 100%;height: 180px;">
                                    <div class="card-body">
                                        <h3 class="card-title text-center">Danh sách người liên quan</h3>
                                        <p class="card-text text-center">Xem chi tiết danh sách người liên quan Covid-19
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        {{!-- end --}}

                        <div class="col-3 my-5 mx-5">
                            <a href="/manager/addUser" class="text-dark">
                                <div class="card" style="width: 30rem;">
                                    <img src="https://cdn.iconscout.com/icon/free/png-256/user-circle-plus-3609979-3014619.png"
                                        class="" alt="..." style="object-fit: contain;width: 100%;height: 180px;">
                                    <div class="card-body">
                                        <h3 class="card-title text-center">Thêm người liên quan</h3>
                                        <p class="card-text text-center">Tạo thêm tài khoản cho người liên quan Covid-19
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="col-3 my-5 mx-5">
                            <a href="/manager/search" class="text-dark">
                                <div class="card" style="width: 30rem;">
                                    <img src="https://static.thenounproject.com/png/88308-200.png"
                                        class="" alt="..." style="object-fit: contain;width: 100%;height: 180px;">
                                    <div class="card-body">
                                        <h3 class="card-title text-center">Tìm kiếm chi tiết</h3>
                                        <p class="card-text text-center">Tìm kiếm người liên quan với các tiêu chí đặc biệt</p>
                                    </div>
                                </div>
                            </a>
                        </div>         
                    </div>
                </div>
            </div>

            <div class="card mb-5">
                <div class="card-header">
                    <h1>Quản lý sản phẩm / nhu yếu phẩm</h1>
                </div>
                <div class="card-body">
                    <div class="row mx-auto justify-content-center">

                        {{!-- 1 cái div này là 1 cục chức năng --}}
                        <div class="col-3 my-5 mx-5">
                            <a href="/manager/product" class="text-dark">
                                <div class="card" style="width: 30rem;">
                                    <img src="https://www.gamerevolution.com/assets/uploads/2020/05/cant-create-a-Google-Account-1280x720.jpg"
                                        class="" alt="..." style="object-fit: contain;width: 100%;height: 180px;">
                                    <div class="card-body">
                                        <h3 class="card-title text-center">Danh sách nhu yếu phẩmn</h3>
                                        <p class="card-text text-center">Xem chi tiết danh sách nhu yếu phẩm
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        {{!-- end --}}

                        <div class="col-3 my-5 mx-5">
                            <a href="/manager/listUser" class="text-dark">
                                <div class="card" style="width: 30rem;">
                                    <img src="https://t3.ftcdn.net/jpg/02/17/72/08/360_F_217720838_zQcOEAOU0plHYh6WWv50te1L9d7iApAz.jpg"
                                        class="" alt="..." style="object-fit: contain;width: 100%;height: 180px;">
                                    <div class="card-body">
                                        <h3 class="card-title text-center">Thêm người liên quan</h3>
                                        <p class="card-text text-center">Tạo thêm tài khoản cho người liên quan Covid-19
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="col-3 my-5 mx-5">
                            <a href="/manager/listUser" class="text-dark">

                                <div class="card" style="width: 30rem;">
                                    <img src="https://png.pngtree.com/png-vector/20190711/ourlarge/pngtree-medical-suitcase-icon-png-image_1544272.jpg"
                                        class="" alt="..." style="object-fit: contain;width: 100%;height: 180px;">
                                    <div class="card-body">
                                        <h3 class="card-title text-center">Thay dổi trạng thái</h3>
                                        <p class="card-text text-center">Thay đổi trạng thái bệnh lý của người liên quan
                                            Covid-19</p>
                                    </div>
                                </div>
                            </a>
                        </div>                       
                    </div>
                </div>
            </div>

            <div class="card mb-5">
                <div class="card-header">
                    <h1>Quản lý gói nhu yếu phẩm</h1>
                </div>
                <div class="card-body">
                    <div class="row mx-auto justify-content-center">

                        {{!-- 1 cái div này là 1 cục chức năng --}}
                        <div class="col-3 my-5 mx-5">
                            <a href="/manager/listUser" class="text-dark">
                                <div class="card" style="width: 30rem;">
                                    <img src="https://www.gamerevolution.com/assets/uploads/2020/05/cant-create-a-Google-Account-1280x720.jpg"
                                        class="" alt="..." style="object-fit: contain;width: 100%;height: 180px;">
                                    <div class="card-body">
                                        <h3 class="card-title text-center">Danh sách người liên quan</h3>
                                        <p class="card-text text-center">Xem chi tiết danh sách người liên quan Covid-19
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        {{!-- end --}}

                        <div class="col-3 my-5 mx-5">
                            <a href="/manager/listUser" class="text-dark">
                                <div class="card" style="width: 30rem;">
                                    <img src="https://t3.ftcdn.net/jpg/02/17/72/08/360_F_217720838_zQcOEAOU0plHYh6WWv50te1L9d7iApAz.jpg"
                                        class="" alt="..." style="object-fit: contain;width: 100%;height: 180px;">
                                    <div class="card-body">
                                        <h3 class="card-title text-center">Thêm người liên quan</h3>
                                        <p class="card-text text-center">Tạo thêm tài khoản cho người liên quan Covid-19
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="col-3 my-5 mx-5">
                            <a href="/manager/listUser" class="text-dark">

                                <div class="card" style="width: 30rem;">
                                    <img src="https://png.pngtree.com/png-vector/20190711/ourlarge/pngtree-medical-suitcase-icon-png-image_1544272.jpg"
                                        class="" alt="..." style="object-fit: contain;width: 100%;height: 180px;">
                                    <div class="card-body">
                                        <h3 class="card-title text-center">Thay dổi trạng thái</h3>
                                        <p class="card-text text-center">Thay đổi trạng thái bệnh lý của người liên quan
                                            Covid-19</p>
                                    </div>
                                </div>
                            </a>
                        </div>                        
                    </div>
                </div>
            </div>

            <div class="card mb-5">
                <div class="card-header">
                    <h1>Thống kê thông tin</h1>
                </div>
                <div class="card-body">
                    <div class="row mx-auto justify-content-center">

                        {{!-- 1 cái div này là 1 cục chức năng --}}
                        <div class="col-3 my-5 mx-5">
                            <a href="/manager/listUser" class="text-dark">
                                <div class="card" style="width: 30rem;">
                                    <img src="https://www.gamerevolution.com/assets/uploads/2020/05/cant-create-a-Google-Account-1280x720.jpg"
                                        class="" alt="..." style="object-fit: contain;width: 100%;height: 180px;">
                                    <div class="card-body">
                                        <h3 class="card-title text-center">Danh sách người liên quan</h3>
                                        <p class="card-text text-center">Xem chi tiết danh sách người liên quan Covid-19
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        {{!-- end --}}

                        <div class="col-3 my-5 mx-5">
                            <a href="/manager/listUser" class="text-dark">
                                <div class="card" style="width: 30rem;">
                                    <img src="https://t3.ftcdn.net/jpg/02/17/72/08/360_F_217720838_zQcOEAOU0plHYh6WWv50te1L9d7iApAz.jpg"
                                        class="" alt="..." style="object-fit: contain;width: 100%;height: 180px;">
                                    <div class="card-body">
                                        <h3 class="card-title text-center">Thêm người liên quan</h3>
                                        <p class="card-text text-center">Tạo thêm tài khoản cho người liên quan Covid-19
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="col-3 my-5 mx-5">
                            <a href="/manager/listUser" class="text-dark">

                                <div class="card" style="width: 30rem;">
                                    <img src="https://png.pngtree.com/png-vector/20190711/ourlarge/pngtree-medical-suitcase-icon-png-image_1544272.jpg"
                                        class="" alt="..." style="object-fit: contain;width: 100%;height: 180px;">
                                    <div class="card-body">
                                        <h3 class="card-title text-center">Thay dổi trạng thái</h3>
                                        <p class="card-text text-center">Thay đổi trạng thái bệnh lý của người liên quan
                                            Covid-19</p>
                                    </div>
                                </div>
                            </a>
                        </div>                        
                    </div>
                </div>
            </div>

            <div class="card mb-5">
                <div class="card-header">
                    <h1>Quản lý thanh toán</h1>
                </div>
                <div class="card-body">
                    <div class="row mx-auto justify-content-center">

                        {{!-- 1 cái div này là 1 cục chức năng --}}
                        <div class="col-3 my-5 mx-5">
                            <a href="/manager/listUser" class="text-dark">
                                <div class="card" style="width: 30rem;">
                                    <img src="https://www.gamerevolution.com/assets/uploads/2020/05/cant-create-a-Google-Account-1280x720.jpg"
                                        class="" alt="..." style="object-fit: contain;width: 100%;height: 180px;">
                                    <div class="card-body">
                                        <h3 class="card-title text-center">Danh sách người liên quan</h3>
                                        <p class="card-text text-center">Xem chi tiết danh sách người liên quan Covid-19
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        {{!-- end --}}

                        <div class="col-3 my-5 mx-5">
                            <a href="/manager/listUser" class="text-dark">
                                <div class="card" style="width: 30rem;">
                                    <img src="https://t3.ftcdn.net/jpg/02/17/72/08/360_F_217720838_zQcOEAOU0plHYh6WWv50te1L9d7iApAz.jpg"
                                        class="" alt="..." style="object-fit: contain;width: 100%;height: 180px;">
                                    <div class="card-body">
                                        <h3 class="card-title text-center">Thêm người liên quan</h3>
                                        <p class="card-text text-center">Tạo thêm tài khoản cho người liên quan Covid-19
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="col-3 my-5 mx-5">
                            <a href="/manager/listUser" class="text-dark">

                                <div class="card" style="width: 30rem;">
                                    <img src="https://png.pngtree.com/png-vector/20190711/ourlarge/pngtree-medical-suitcase-icon-png-image_1544272.jpg"
                                        class="" alt="..." style="object-fit: contain;width: 100%;height: 180px;">
                                    <div class="card-body">
                                        <h3 class="card-title text-center">Thay dổi trạng thái</h3>
                                        <p class="card-text text-center">Thay đổi trạng thái bệnh lý của người liên quan
                                            Covid-19</p>
                                    </div>
                                </div>
                            </a>
                        </div>                        
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>