<div class="content row">
    {{!-- sidebar --}}
    <div class="sidebar">
        <div class="sidebar-item">
            <a class="title" href="/manager/">
                <i class="fa fa-home" aria-hidden="true"></i>
                <i class="fa fa-home d-none" aria-hidden="true"></i>
                Trang chủ
            </a>
        </div>
        <div class="sidebar-item">
            <div class="title">
                <span class="angle-right"><i class="fas fa-angle-right"></i> </span>
                <span class="angle-down d-none"><i class="fas fa-angle-down"></i> </span>
                Quản lý người liên quan
            </div>
            <ul class="list d-none">
                <li class="list-item">
                    <a class="d-block" href="/manager/listUser"><i class="fa fa-list-ul"></i> Danh sách</a>
                </li>
                <li class="list-item">
                    <a class="d-block" href="/manager/addUser"><i class="fas fa-user"></i> Thêm tài khoản</a>
                </li>
                <li class="list-item">
                    <a class="d-block" href="/manager/search"><i class="fa fa-search-plus"></i> Tìm kiếm chi tiết</a>
                </li>
            </ul>
        </div>
        <div class="sidebar-item">
            <div class="title">
                <span class="angle-right"><i class="fas fa-angle-right"></i> </span>
                <span class="angle-down d-none"><i class="fas fa-angle-down"></i> </span>
                Quản lý s.phẩm / n.y.phẩm
            </div>
            <ul class="list d-none">
                <li class="list-item ">
                    <a class="d-block" href="/manager/product"><i class="fa fa-list-ul"></i> Danh sách</a>
                </li>
                {{!-- <li class="list-item">
                    <a class="d-block" href="/manager/"><i class="fas fa-search-plus"></i> Tìm kiếm</a>
                </li> --}}
                <li class="list-item">
                    <a class="d-block" href="/manager/productEdit"><i class="fa fa-edit"></i> Cập nhật</a>
                </li>
            </ul>
        </div>
        <div class="sidebar-item">
            <div class="title">
                <span class="angle-right"><i class="fas fa-angle-right"></i> </span>
                <span class="angle-down d-none"><i class="fas fa-angle-down"></i> </span>
                Quản lý gói nhu yếu phẩm
            </div>
            <ul class="list d-none">
                <li class="list-item ">
                    <a class="d-block" href="/manager/package"><i class="fa fa-list-ul"></i> Danh sách</a>
                </li>
                {{!-- <li class="list-item">
                    <a class="d-block" href="/manager/sanpham"><i class="fas fa-search-plus"></i> Tìm kiếm</a>
                </li> --}}
                <li class="list-item">
                    <a class="d-block" href="/manager/"><i class="fa fa-edit"></i> Cập nhật</a>
                </li>
            </ul>
        </div>
        <div class="sidebar-item">
            <div class="title">
                <span class="angle-right"><i class="fas fa-angle-right"></i> </span>
                <span class="angle-down d-none"><i class="fas fa-angle-down"></i> </span>
                Thống kê thông tin
            </div>
            <ul class="list d-none">
                <li class="list-item">
                    <a class="d-block" href="/manager/chartStatusByTime"><i class="fa fa-users" aria-hidden="true"></i> Lượng người trạng thái</a>
                </li>
                <li class="list-item">
                    <a class="d-block" href="/manager/chartStatusChange"><i class="fa fa-random"></i> Số chuyển trạng thái</a>
                </li>
                <li class="list-item">
                    <a class="d-block" href="/manager/listUser"><i class="fa fa-shopping-cart"></i> Tiêu thụ gói nhu yếu phẩm</a>
                </li>
                <li class="list-item">
                    <a class="d-block" href="/manager/listUser"><i class="fa fa-shopping-basket"></i> Tiêu thụ sản phẩm</a>
                </li>
                <li class="list-item">
                    <a class="d-block" href="/manager/listUser"><i class="fa fa-credit-card"></i> Dư nợ, thanh toán</a>
                </li>
            </ul>
        </div>
        <div class="sidebar-item">
            <div class="title">
                <span class="angle-right"><i class="fas fa-angle-right"></i> </span>
                <span class="angle-down d-none"><i class="fas fa-angle-down"></i> </span>
                Quản lý thanh toán
            </div>
            <ul class="list d-none">
                <li class="list-item">
                    <a class="d-block" href="/manager/changeMinPayment"><i class="fa fa-list-alt" aria-hidden="true"></i> Thay đổi hạn mức thanh toán tối thiểu</a>
                </li>
                <li class="list-item">
                    <a class="d-block" href="/manager/sendPaymentNotification"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Duyệt danh sách và gửi thông báo nhắc thanh toán</a>
                </li>
            </ul>
        </div>
    </div>
    {{!-- end sidebar --}}

    <div class="col-9" style="flex:1;">
        <div class="section general-information">
            <div class="card mb-5 w-100">
                <div class="card-header">
                    <h1>Quản lý người liên quan covid-19</h1>
                </div>
                <div class="card-body">
                    <div class="row mx-auto justify-content-center">
                        {{!-- 1 cái div này là 1 cục chức năng --}}
                        <div class="col-3 my-5 mx-5">
                            <a href="/manager/listUser" class="text-dark">
                                <div class="card" style="width: 30rem;">
                                    <img src="https://icons.iconarchive.com/icons/dtafalonso/modern-xp/512/ModernXP-15-Group-icon.png"
                                        class="" alt="..." style="object-fit: contain;width: 100%;height: 180px;">
                                    <div class="card-body">
                                        <h3 class="card-title text-center">Danh sách người liên quan</h3>
                                        <p class="card-text text-center">Xem chi tiết danh sách người liên quan Covid-19
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        {{!-- end --}}

                        <div class="col-3 my-5 mx-5">
                            <a href="/manager/addUser" class="text-dark">
                                <div class="card" style="width: 30rem;">
                                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTMRnym8QJSxutfISwhVfBIjXGPljdnl1x1BvRdApR60vLbhGCpyQxp-w3Ybt8v_Tg5rSI&usqp=CAU"
                                        class="" alt="..." style="object-fit: contain;width: 100%;height: 180px;">
                                    <div class="card-body">
                                        <h3 class="card-title text-center">Thêm người liên quan</h3>
                                        <p class="card-text text-center">Tạo thêm tài khoản cho người liên quan Covid-19
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="col-3 my-5 mx-5">
                            <a href="/manager/search" class="text-dark">
                                <div class="card" style="width: 30rem;">
                                    <img src="https://www.kindpng.com/picc/m/79-790958_transparent-search-icon-png-white-business-user-png.png"
                                        class="" alt="..." style="object-fit: contain;width: 100%;height: 180px;">
                                    <div class="card-body">
                                        <h3 class="card-title text-center">Tìm kiếm chi tiết</h3>
                                        <p class="card-text text-center">Tìm kiếm người liên quan với các tiêu chí đặc biệt</p>
                                    </div>
                                </div>
                            </a>
                        </div>         
                    </div>
                </div>
            </div>

            <div class="card mb-5">
                <div class="card-header">
                    <h1>Quản lý sản phẩm / nhu yếu phẩm</h1>
                </div>
                <div class="card-body">
                    <div class="row mx-auto justify-content-center">

                        {{!-- 1 cái div này là 1 cục chức năng --}}
                        <div class="col-3 my-5 mx-5">
                            <a href="/manager/product" class="text-dark">
                                <div class="card" style="width: 30rem;">
                                    <img src="https://cdn-icons-png.flaticon.com/512/2934/2934085.png"
                                        class="" alt="..." style="object-fit: contain;width: 100%;height: 180px;">
                                    <div class="card-body">
                                        <h3 class="card-title text-center">Danh sách </h3>
                                        <p class="card-text text-center">Xem chi tiết danh sách sản phẩm/nhu yếu phẩm
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        {{!-- end --}}

                        <div class="col-3 my-5 mx-5">
                            <a href="/manager/listUser" class="text-dark">
                                <div class="card" style="width: 30rem;">
                                    <img src="https://media.istockphoto.com/vectors/product-quality-control-abstract-concept-vector-illustration-vector-id1270597262?b=1&k=20&m=1270597262&s=170x170&h=oy60a-o71qWJmB9Mo2pYJlPMaKW3mvQ0K0x80BCUw8A="
                                        class="" alt="..." style="object-fit: contain;width: 100%;height: 180px;">
                                    <div class="card-body">
                                        <h3 class="card-title text-center">Tìm kiếm </h3>
                                        <p class="card-text text-center">Tìm kiếm sản phẩm <br> Tìm kiếm nhu yếu phẩm
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="col-3 my-5 mx-5">
                            <a href="/manager/listUser" class="text-dark">

                                <div class="card" style="width: 30rem;">
                                    <img src="https://cdn4.iconfinder.com/data/icons/business-model-canvas-3/512/ValueProposition-productvalue-value-qualityproduct-newproduct-512.png"
                                        class="" alt="..." style="object-fit: contain;width: 100%;height: 180px;">
                                    <div class="card-body">
                                        <h3 class="card-title text-center">Cập nhật</h3>
                                        <p class="card-text text-center"> Thêm, xoá, sửa sản phẩm / nhu yếu phẩm
                                            Covid-19</p>
                                    </div>
                                </div>
                            </a>
                        </div>                       
                    </div>
                </div>
            </div>

            <div class="card mb-5">
                <div class="card-header">
                    <h1>Quản lý gói nhu yếu phẩm</h1>
                </div>
                <div class="card-body">
                    <div class="row mx-auto justify-content-center">

                        {{!-- 1 cái div này là 1 cục chức năng --}}
                        <div class="col-3 my-5 mx-5">
                            <a href="/manager/package" class="text-dark">
                                <div class="card" style="width: 30rem;">
                                    <img src="https://thumbs.dreamstime.com/b/grocery-bag-food-gastronomy-set-flat-icon-grocery-bag-food-gastronomy-set-flat-icon-131481091.jpg"
                                        class="" alt="..." style="object-fit: contain;width: 100%;height: 180px;">
                                    <div class="card-body">
                                        <h3 class="card-title text-center">Danh sách gói nhu yếu phẩm</h3>
                                        <p class="card-text text-center">Xem chi tiết danh sách các gói nhu yếu phẩm
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        {{!-- end --}}

                        <div class="col-3 my-5 mx-5">
                            <a href="/manager/listUser" class="text-dark">
                                <div class="card" style="width: 30rem;">
                                    <img src="https://previews.123rf.com/images/vectorv/vectorv1907/vectorv190724714/127791080-white-search-package-icon-isolated-with-long-shadow-parcel-tracking-symbol-magnifying-glass-and-card.jpg"
                                        class="" alt="..." style="object-fit: contain;width: 100%;height: 180px;">
                                    <div class="card-body">
                                        <h3 class="card-title text-center">Tìm kiếm </h3>
                                        <p class="card-text text-center">Tìm kiếm <br> gói nhu yếu phẩm
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="col-3 my-5 mx-5">
                            <a href="/manager/listUser" class="text-dark">

                                <div class="card" style="width: 30rem;">
                                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQrxIOQd3WxAEEO4R3n0tu3TMqDg2HLlQzqYOLNCkZREaSbY2nzjhDs7Ry9zi2qBPDi4q0&usqp=CAU"
                                        class="" alt="..." style="object-fit: contain;width: 100%;height: 180px;">
                                    <div class="card-body">
                                        <h3 class="card-title text-center">Cập nhật</h3>
                                        <p class="card-text text-center"> Thêm, xoá, sửa <br>các gói nhu yếu phẩm </p>
                                    </div>
                                </div>
                            </a>
                        </div>                       
                    </div>
                </div>
            </div>

            <div class="card mb-5">
                <div class="card-header">
                    <h1>Thống kê thông tin</h1>
                </div>
                <div class="card-body">
                    <div class="row mx-auto justify-content-center">

                        {{!-- 1 cái div này là 1 cục chức năng --}}
                        <div class="col-3 my-5 mx-5">
                            <a href="/manager/chartStatusByTime" class="text-dark">
                                <div class="card" style="width: 30rem;">
                                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTh4zTdcNKkZX072SYH3U51kVbeEtrOSnO0qIIkEoDfrbt1jtHCnkO8b9xCA1Gzl8fLrd0&usqp=CAU"
                                        class="" alt="..." style="object-fit: contain;width: 100%;height: 180px;">
                                    <div class="card-body">
                                        <h3 class="card-title text-center">Lượng người trạng thái</h3>
                                        <p class="card-text text-center">Thống kê số lượng người ở từng trạng thái theo thời gian
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        {{!-- end --}}

                        <div class="col-3 my-5 mx-5">
                            <a href="/manager/chartStatusChange" class="text-dark">
                                <div class="card" style="width: 30rem;">
                                    <img src="https://static.vecteezy.com/system/resources/previews/004/590/572/original/people-icon-with-chart-business-symbol-simple-illustration-editable-stroke-design-template-vector.jpg"
                                        class="" alt="..." style="object-fit: contain;width: 100%;height: 180px;">
                                    <div class="card-body">
                                        <h3 class="card-title text-center">Số chuyển trạng thái</h3>
                                        <p class="card-text text-center">Thống kê : số chuyển trạng thái, khỏi bệnh,… 
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="col-3 my-5 mx-5">
                            <a href="/manager/listUser" class="text-dark">
                                <div class="card" style="width: 30rem;">
                                    <img src="https://cdn2.iconfinder.com/data/icons/seo-internet-marketing-services/91/SEO_Internet_marketing_business_12-512.png"
                                        class="" alt="..." style="object-fit: contain;width: 100%;height: 180px;">
                                    <div class="card-body">
                                        <h3 class="card-title text-center">Tiêu thụ gói nhu yếu phẩm</h3>
                                        <p class="card-text text-center">Thống kê tiêu thụ các gói Nhu yếu phẩm</p>
                                    </div>
                                </div>
                            </a>
                        </div>       
                        
                        <div class="col-3 my-5 mx-5">
                            <a href="/manager/listUser" class="text-dark">
                                <div class="card" style="width: 30rem;">
                                    <img src="https://kingly.vn/khuyenmai/upload/images/product-combo.png"
                                        class="" alt="..." style="object-fit: contain;width: 100%;height: 180px;">
                                    <div class="card-body">
                                        <h3 class="card-title text-center">Tiêu thụ sản phẩm</h3>
                                        <p class="card-text text-center">Thống kê tiêu thụ các gói Nhu yếu phẩm</p>
                                    </div>
                                </div>
                            </a>
                        </div>     
                        
                        <div class="col-3 my-5 mx-5">
                            <a href="/manager/listUser" class="text-dark">
                                <div class="card" style="width: 30rem;">
                                    <img src="https://png.pngtree.com/png-vector/20190814/ourlarge/pngtree-increase-profit-chart-vector-icon-filled-flat-sign-for-mobile-png-image_1692145.jpg"
                                        class="" alt="..." style="object-fit: contain;width: 100%;height: 180px;">
                                    <div class="card-body">
                                        <h3 class="card-title text-center">Dư nợ, thanh toán</h3>
                                        <p class="card-text text-center">Thống kê dư nợ<br> Thống kê thanh toán</p>
                                    </div>
                                </div>
                            </a>
                        </div>              
                    </div>
                </div>
            </div>

            <div class="card mb-5">
                <div class="card-header">
                    <h1>Quản lý thanh toán</h1>
                </div>
                <div class="card-body">
                    <div class="row mx-auto justify-content-center">
                        <div class="col-3 my-5 mx-5">
                            <a href="/manager/changeMinPayment" class="text-dark">
                                <div class="card" style="width: 30rem;">
                                    <img src="https://cdn-icons-png.flaticon.com/128/1999/1999259.png"
                                        class="" alt="..." style="object-fit: contain;width: 100%;height: 180px;">
                                    <div class="card-body">
                                        <h3 class="card-title text-center">Thay đổi hạn mức thanh toán tối thiểu</h3>
                                        <p class="card-text text-center">Chỉnh sửa hạn mức tối thiểu có thể thanh toán của người dùng
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="col-3 my-5 mx-5">
                            <a href="/manager/sendPaymentNotification" class="text-dark">

                                <div class="card" style="width: 30rem;">
                                    <img src="https://static.vecteezy.com/system/resources/previews/002/553/023/non_2x/mobile-banking-message-notification-money-flat-style-icon-free-vector.jpg"
                                        class="" alt="..." style="object-fit: contain;width: 100%;height: 180px;">
                                    <div class="card-body">
                                        <h3 class="card-title text-center">Duyệt danh sách và gửi thông báo nhắc thanh toán</h3>
                                        <p class="card-text text-center">Duyệt danh sách thanh toán <br> Gửi thông báo nhắc thanh toán</p>
                                    </div>
                                </div>
                            </a>
                        </div>                        
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>