<div class="section accountbalance ">
                    <div class="section-title">
                        Số dư tài khoản
                    </div>
                    <div class="section-content mt-4">
                        <div class="information fs-2 d-flex justify-content-between">
                            <div class="d-lg-inline-block">Số dư tài khoản của bạn hiện tại là:  <span style="font-weight: 700;"> 1000000đ</span></div>
                            <a href="#" class="btn submit fs-3"> Nạp tiền </a>
                        </div>
                    </div>
                </div>