<div class="section general-information">
                    <div class="section-title">
                       Thông tin chung
                    </div>
                    <div class="section-content mt-4">
                        <div class="avatar text-center ">
                            <div class="avatar-wrapper text-center">
                                <img class="profile-pic" src="https://static.cdnno.com/user/default/200.jpg" />
                            </div>
                        </div>
                        <div class="information">
                            <form action="">
                                <div class="mb-3" style="margin-bottom: 2rem!important;">
                                    <label for="username" class="form-label" style="font-weight: 500;">Tên tài khoản</label>
                                    <input type="text" class="form-control" name="username" id="username" value="User123" readonly style="padding:.6rem; font-size:1.4rem">
                                </div>
                                <div class="mb-3" style="margin-bottom: 2rem!important;">
                                    <label for="fullname" class="form-label" style="font-weight: 500;">Họ và tên</label>
                                    <input type="text" class="form-control" name="fullname" id="fullname" value="Nguyễn Hoàng Nam" readonly style="padding:.6rem; font-size:1.4rem">
                                </div>
                                <div class="mb-3" style="margin-bottom: 2rem!important;">
                                    <label for="idcard" class="form-label" style="font-weight: 500;">CMND/CCCD</label>
                                    <input type="text" class="form-control" name="idcard" id="idcard" value="1234567890"readonly  style="padding:.6rem; font-size:1.4rem">
                                </div>
                                <div class="mb-3" style="margin-bottom: 2rem!important;">
                                    <label for="birthdate" class="form-label" style="font-weight: 500;">Ngày sinh </label>
                                    <input type="text" class="form-control" id="birthdate" name="birthdate" value="1/1/2022"readonly style="padding:.6rem; font-size:1.4rem">
                                </div>
                                <div class="mb-3" style="margin-bottom: 2rem!important;">
                                    <label for="address" class="form-label" style="font-weight: 500;">Địa chỉ</label>
                                    <input type="text" class="form-control" name="address" id="address" value="123 Đường 456, P. 789, Q10, TP HCM" readonly style="padding:.6rem; font-size:1.4rem">
                                </div>
                                <div class="mb-3" style="margin-bottom: 2rem!important;">
                                    <label for="status" class="form-label" style="font-weight: 500;">Trạng thái hiện tại</label>
                                    <input type="text" class="form-control" name="address" id="address" value="F4" readonly style="padding:.6rem; font-size:1.4rem">
                                </div>
                                <div class="mb-3" style="margin-bottom: 2rem!important;">
                                    <label for="quarantineaddress" class="form-label" style="font-weight: 500;">Nơi đang điều trị / cách ly</label>
                                    <input type="text" class="form-control" name="quarantineaddress" id="quarantineaddress" value="123 Đường 456, P. 789, Q10, TP HCM" readonly style="padding:.6rem; font-size:1.4rem">
                                </div>

                                <div class="mb-3" style="margin-bottom: 2rem!important;">
                                    <label for="relatedpeople" class="form-label" style="font-weight: 500;">Danh sách người liên quan</label>
                                    <!-- <input type="text" class="form-control" name="quarantineaddress" id="quarantineaddress" value="123 Đường 456, P. 789, Q10, TP HCM" readonly style="padding:.6rem; font-size:1.4rem"> -->
                                    <div class="d-flex my-3">
                                        <input type="text" class="form-control d-inline-block me-4" id="" value="Nguyễn Văn A" readonly style="padding:.6rem; font-size:1.4rem; flex:3;">
                                        <input type="text" class="form-control d-inline-block" id="" value="F0" readonly style="padding:.6rem; font-size:1.4rem; flex:1;">
                                    </div>
                                    <div class="d-flex my-3">
                                        <input type="text" class="form-control d-inline-block me-4" id="" value="Nguyễn Văn A" readonly style="padding:.6rem; font-size:1.4rem; flex:3;">
                                        <input type="text" class="form-control d-inline-block" id="" value="F0" readonly style="padding:.6rem; font-size:1.4rem; flex:1;">
                                    </div>
                                    <div class="d-flex my-3">
                                        <input type="text" class="form-control d-inline-block me-4" id="" value="Nguyễn Văn A" readonly style="padding:.6rem; font-size:1.4rem; flex:3;">
                                        <input type="text" class="form-control d-inline-block" id="" value="F0" readonly style="padding:.6rem; font-size:1.4rem; flex:1;">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>