<div class="section managed-history ">
                    <div class="section-title">
                        Lịch sử được quản lý
                    </div>
                    <div class="section-content mt-4 ">
                        <div class="d-flex mt-4 justify-content-between">
                            <p class="text-ellipsis--2 me-5 fs-3">Tình trạng sức khỏe hiện tại của bạn được cập nhập thành: F0 </p>
                            <div class="Datetime ms-5">
                                <div class="text-center">10:30</div>
                                <div class="text-center">1/12/2021 </div>
                            </div>
                        </div>
                        <div class="d-flex mt-4 justify-content-between">
                            <p class="text-ellipsis--2 me-5 fs-3">Tình trạng sức khỏe hiện tại của bạn được cập nhập thành: Đã khỏi bệnh.  </p>
                            <div class="Datetime ms-5">
                                <div class="text-center">10:30</div>
                                <div class="text-center">31/12/2021 </div>
                            </div>
                        </div>
                    </div>
                </div>