 <div class="content">
           <div class="container-fluid" style="background-color: white;">
                <div class="row">
                    <div class="col-5">
                        <div class="big-img mb-4">
                            <img src="https://cf.shopee.vn/file/07406419575453530652c172a70ed2e6_tn" alt="" style="width: 100%; max-height: 500px;">
                        </div>
                        <ul class="img-list d-flex" style="padding: 0;">
                            <li class="d-inline-block me-3"> 
                                <img src="https://cf.shopee.vn/file/07406419575453530652c172a70ed2e6_tn" alt="" style="width: 120px; height: 120px; ">
                            </li>
                            <li class="d-inline-block me-3"> 
                                <img src="https://cf.shopee.vn/file/bd65a597ecabac71c891a9a2cff45bf5" alt="" style="width: 120px; height: 120px; ">
                            </li>
                            <li class="d-inline-block me-3"> 
                                <img src="https://cf.shopee.vn/file/f1b7225677338c28f1c5427fa448b8b3_tn" alt="" style="width: 120px; height: 120px; ">
                            </li>
                            <li class="d-inline-block me-3">
                                <img src="https://cf.shopee.vn/file/e19041735fe3973c7847d8bdced1dd08_tn" alt="" style="width: 120px; height: 120px; ">    
                            </li>
                        </ul>
                    </div>
                    <div class="col-7">
                        <div class="packet-title mb-5">
                            <div class="box">AntiCovid+</div>    Gói NYP1
                        </div>
                        <ul class="products-list my-5" style="padding: 0; font-size: 2rem;"> Bao gồm:
                            <li class="product">
                                <div class="row">
                                    <div class="col-6 product-desc ">
                                        Gạo ST24 : 25000đ / 1kg
                                    </div>
                                    <div class="col-6 product-quantity ">
                                        Số lượng: <input type="number" min="1" max="10"> tối đa 10 kg
                                    </div>
                                </div>
                            </li>
                            <li class="product">
                                <div class="row">
                                    <div class="col-6 product-desc ">
                                        Gạo ST24 : 25000đ / 1kg
                                    </div>
                                    <div class="col-6 product-quantity ">
                                        Số lượng: <input type="number" min="1" max="10"> tối đa 10 kg
                                    </div>
                                </div>
                            </li>
                            <li class="product">
                                <div class="row">
                                    <div class="col-6 product-desc ">
                                        Gạo ST24 : 25000đ / 1kg
                                    </div>
                                    <div class="col-6 product-quantity ">
                                        Số lượng: <input type="number" min="1" max="10"> tối đa 10 kg
                                    </div>
                                </div>
                            </li>
                            
                        </ul>
                        <ul class="bill my-5" style="padding: 0; font-size: 2rem;"> Đơn hàng B01:
                            <li class="product">
                                <div class="row">
                                    <div class="col-6 product-desc ">
                                        Gạo ST24 : 2kg
                                    </div>
                                    <div class="col-6 product-quantity ">
                                        25000đ x 2 = <span class="text-orange">50000đ</span>
                                    </div>
                                </div>
                            </li>
                            <li class="product">
                                <div class="row">
                                    <div class="col-6 product-desc ">
                                        Gạo ST24 : 2kg
                                    </div>
                                    <div class="col-6 product-quantity ">
                                        25000đ x 2 = <span class="text-orange">50000đ</span>
                                    </div>
                                </div>
                            </li>
                            <li class="product">
                                <div class="row">
                                    <div class="col-6 product-desc ">
                                        Gạo ST24 : 2kg
                                    </div>
                                    <div class="col-6 product-quantity ">
                                        25000đ x 2 = <span class="text-orange">50000đ</span>
                                    </div>
                                </div>
                            </li>
                            <li class="product">
                                <div class="row">
                                    <div class="col-6 product-desc ">
                                        -> Tổng cộng: 
                                    </div>
                                    <div class="col-6 product-quantity">
                                        <span class="text-orange mx-4">150000đ</span>
                                    </div>
                                </div>
                            </li>
                           
                           
                        </ul>
                        
                        <div class="buy">
                            <div class="btn guarantee">AntiCovid đảm bảo</div>
                            <div class="d-inline-block">
                                <button class="btn buy-btn">Mua ngay</button>
                            </div>
                        </div>
                        
                    </div>
                </div>
           </div>
        </div>