 <div class="section paid-history ">
                    <div class="section-title">
                        Lịch sử thanh toán
                    </div>
                    <div class="section-content mt-4 ">
                        <div class="d-flex mt-4 justify-content-between">
                            <p class="text-ellipsis--2 me-5 fs-3">Thanh toán 3 gói "Khẩu trang N95 (10 cái)": 300000đ</p>
                            <div class="">
                                <div class="remainedmoney d-inline-block mx-5" style="min-width:12rem;">
                                    <div class="text-center">Số tiền còn lại :</div>
                                    <div class="text-center">1200000đ </div>
                                </div>
                                <div class="Datetime d-inline-block ms-5">
                                    <div class="text-center">10:30</div>
                                    <div class="text-center">1/12/2021 </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex mt-4 justify-content-between">
                            <p class="text-ellipsis--2 me-5 fs-3">Thanh toán 2 gói "Khẩu trang N95 (10 cái)": 200000đ</p>
                            <div class="">
                                <div class="remainedmoney d-inline-block mx-5" style="min-width:12rem;">
                                    <div class="text-center">Số tiền còn lại :</div>
                                    <div class="text-center">1000000đ </div>
                                </div>
                                <div class="Datetime d-inline-block ms-5">
                                    <div class="text-center">10:30</div>
                                    <div class="text-center">12/12/2021 </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>