 <div class="section password ">
                    <div class="section-title">
                       Đổi mật khẩu
                    </div>
                    <div class="section-content mt-4">
                        <div class="information">
                            <form action="">
                                <div class="mb-3" style="margin-bottom: 2rem!important;">
                                    <label for="current-password" class="form-label" style="font-weight: 500;">Mật khẩu hiện tại</label>
                                    <input type="password" class="form-control" id="current-password" style="padding:.6rem; font-size:1.4rem">
                                </div>
                                <div class="mb-3" style="margin-bottom: 2rem!important;">
                                    <label for="new-password" class="form-label" style="font-weight: 500;">Mật khẩu mới </label>
                                    <input type="password" class="form-control" id="new-password" style="padding:.6rem; font-size:1.4rem">
                                </div>
                                <div class="mb-3" style="margin-bottom: 2rem!important;">
                                    <label for="confirm-password" class="form-label" style="font-weight: 500;">Xác nhân mật khẩu mới</label>
                                    <input type="password" class="form-control" id="confirm-password"  style="padding:.6rem; font-size:1.4rem">
                                </div>
                                <div class="mb-3" style="float: right;">
                                    <button type="button" type="submit" class="btn submit" >Cập nhật</button>
                                </div>
                               
                            </form>
                        </div>
                    </div>
                </div>