<div class="content">
            <div class="container-fluid" style="background-color: white;">
                 <div class="row">
                     <div class="col-5">
                         <div class="big-img mb-4">
                             <img src="https://cf.shopee.vn/file/07406419575453530652c172a70ed2e6_tn" alt="" style="width: 100%; min-height:400px; max-height: 500px;">
                         </div>
                         <ul class="img-list d-flex" style="padding: 0;">
                             <li class="d-inline-block me-3"> 
                                 <img src="https://cf.shopee.vn/file/07406419575453530652c172a70ed2e6_tn" alt="" style="width: 120px; height: 120px; ">
                             </li>
                             <li class="d-inline-block me-3"> 
                                 <img src="https://cf.shopee.vn/file/bd65a597ecabac71c891a9a2cff45bf5" alt="" style="width: 120px; height: 120px; ">
                             </li>
                             <li class="d-inline-block me-3"> 
                                 <img src="https://cf.shopee.vn/file/f1b7225677338c28f1c5427fa448b8b3_tn" alt="" style="width: 120px; height: 120px; ">
                             </li>
                             <li class="d-inline-block me-3">
                                 <img src="https://cf.shopee.vn/file/e19041735fe3973c7847d8bdced1dd08_tn" alt="" style="width: 120px; height: 120px; ">    
                             </li>
                         </ul>
                     </div>
                     <div class="col-7">
                         <div class="packet-title mb-4">
                             <div class="box">AntiCovid+</div>    Gแบกo trแบฏng hแปฏu cฦก VietSuisse
                         </div>
                         
                         <p class="mb-4 mx-4 fs-2"> Giรก: 25000ฤ/1kg</p>

                         <p class="mb-4 mx-4 fs-2"> Giแปi thiแปu:</p>
                         <p class="mb-4 mx-5 fs-4"> 
                                Trong bแปฏa ฤn khรดng thแป thiแบฟu cฦกm ฤรฃ trแป thรnh tแบญp quรกn chung cแปงa ngฦฐแปi Viแปt Nam. Vแบญy lรm sao ฤแป mang ฤแบฟn cho gia ฤรฌnh mรฌnh nhแปฏng bแปฏa cฦกm thฦกm ngon, ฤแบงy ฤแปง dinh dฦฐแปกng mร vแบซn ฤแบฃm bแบฃo sแบกch vร an toรn? ฤรขy lร cรขu hแปi mร rแบฅt nhiแปu bร nแปi trแปฃ quan tรขm. <br>
                                ๐พ#GแบO_HแปฎU_Cฦ #VIETSUISSE 100% do Viแปt Nam sแบฃn xuแบฅt chฤฬc chฤฬn seฬ laฬm caฬc baฬ nรดฬฃi trฦกฬฃ haฬi loฬng <br>
                                ๐ Lรบa ฤฦฐแปฃc canh tรกc theo quy trรฌnh hแปฏu cฦก ฤแบกt tiรชu chuแบฉn quแปc tแบฟ (EU, USDA, JAS). Khรดng sแปญ dแปฅng hรณa chแบฅt.  <br>
                                ๐ Vรนng nguyรชn liแปu lรบa lร ฤiแปm giao cแปงa hแบก lฦฐu sรดng Mekong vร biแปn ฤรดng. Sแปฑ kแบฟt hแปฃp cรกc ฤแบทc tรญnh cแปงa giแปng lรบa ฤแบทc sแบฃn, quy trรฌnh chฤm sรณc hแปฏu cฦก nghiรชm ngแบทt vร ฤiแปu kiแปn khรญ hแบญu ฤแบทc thรน (vรนng nฦฐแปc mแบทn) ฤรฃ tแบกo nรชn hฦฐฦกng vแป thฦกm ngon hแบฃo hแบกng cแปงa gแบกo hแปฏu cฦก VietSuisse. <br>
                                ๐ Gแบกo Trแบฏng hแปฏu cฦก ฤฦฐแปฃc sแบฃn xuแบฅt tแปซ giแปng lรบa ฤแบทc sแบฃn ST25, giแปng lรบa cho ra ฤแปi loแบกi gแบกo ฤฦฐแปฃc vinh danh โtop 3 gแบกo ngon nhแบฅt thแบฟ giแปiโ cรนng vแปi gแบกo Thรกi vร gแบกo Campuchia tแบกi Hแปi nghแป quแปc tแบฟ lแบงn 9 vแป Thฦฐฦกng mแบกi Gแบกo tแป chแปฉc tแบกi Ma Cao - Trung Quแปc. <br>
                                ๐ Gแบกo lแปฉt hแปฏu cฦก ฤฦฐแปฃc sแบฃn xuแบฅt tแปซ giแปng lรบa ฤแบทc sแบฃn ST24, giแปng lรบa cho ra ฤแปi loแบกi gแบกo ฤฦฐแปฃc vinh danh โtop 3 gแบกo ngon nhแบฅt thแบฟ giแปiโ cรนng vแปi gแบกo Thรกi vร gแบกo Campuchia tแบกi Hแปi nghแป quแปc tแบฟ lแบงn 9 vแป Thฦฐฦกng mแบกi Gแบกo tแป chแปฉc tแบกi Ma Cao - Trung Quแปc. <br>
                                ๐ Gแบกo Tรญm hแปฏu cฦก VietSuisse ฤฦฐแปฃc sแบฃn xuแบฅt tแปซ giแปng lรบa thแบฃo dฦฐแปฃc vแปi hรm lฦฐแปฃng chแบฅt chแปng oxy hรณa cao, giรu khoรกng chแบฅt tแปฑ nhiรชn, vitamin vร ฤแบทc biแปt chแปฉa hรm lฦฐแปฃng Omega 3, 6, 9 rแบฅt cao. <br>

                                <br>Chแบฟ biแบฟn vร ฤรณng gรณi :<br>
                                Gแบกo cแปงa VietSuisse ฤฦฐแปฃc chแบฟ biแบฟn vร ฤรณng gรณi tแบกi nhร mรกy ฤแบกt tiรชu chuแบฉn Mแปน, Chรขu รu, Nhแบญt Bแบฃn. <br>
                         </p>
                     </div>
                 </div>
            </div>
        </div>